h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50pt;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
 
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50pt;
    margin-top: 30vh;
    margin-left: -1em;
}
 
h3{
    text-align: center;
    font-family: 'Arial', Times, serif;
    font-size: 30pt;  
}
 
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    margin-top: 10vh;
}
 
 
/* .inputFromUser{
    margin: auto;
} */
 
#startButton{
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
    margin-left: 4.2em;
   
}
 
.textinput{
    font-size: 1.5em;
    margin-top: 0%;
   
}
 
.button{
    font-size: 1.5em;
    padding: 0.75em;
    border-radius: 50vh;
}
 
.container {
    height: 200px;
    position: relative;
}
 
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
 
.centeraligned{
    margin-left: 32em;
    margin-top: 0%;
 
}

.span{
    font-size: 1.5em;
    padding: 0.75em;
    border-radius: 50vh;
    border-color: black;
}