/* loginPage CSS */

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50pt;
}

#startButton{
    font-size: 1.5em;
    text-align: center;
    margin-left: 5em;
}

.textinput{
    font-size: 1.5em;
}

.centeraligned{
    margin-left: 32em;
    margin-top: 0%;
}
 
/* FIzzBuzz Page CSS */

p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    margin-top: 10vh;
}

#welcomeMessage{
    font-weight: bolder;
    font-size: 40pt;
}
 
.button{
    font-size: 1.5em;
    padding: 0.75em;
    border-radius: 50vh;
}
 
.container {
    height: 200px;
    position: relative;
}
 
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#output{
    color:red; 
    font-size: 20px;
    background-color: #ffcaca;
    background-image:url(/Content/x.png);
    background-size: 20px 20px;
    background-repeat:no-repeat;
    background-position:2px;
    padding: 5px;
    border-radius: 10px 10px 10px;
    border: 1px solid red;
    padding-left: 25px;
    position:relative;
}